[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=64", "setuptools_scm>=8"]

[dependency-groups]
dev = ["fhlmi[dev]"]

[project]
authors = [
    {email = "hello@futurehouse.org", name = "FutureHouse technical staff"},
]
# Full list: https://pypi.python.org/pypi?%3Aaction=list_classifiers
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "coredis>=3.0.1",  # Lower pin v3 for Redis class, pin v3.0.1 for fix in https://github.com/alisaifee/coredis/commit/7e9b1a1b384cd97725cab479d2ce091e3b0823d2
    "fhaviary>=0.14.0",  # For multi-image support
    "limits[async-redis]>=4.8",  # Specify 'async-redis' since that's what we use. Lower pin for RedisBridge.key_prefix.
    "litellm>=1.81.10",  # Lower pin for MAX_CALLBACKS refactor from https://github.com/BerriAI/litellm/pull/20781
    "pydantic~=2.0,>=2.10.1",
    "tiktoken>=0.4.0",
    "typing-extensions; python_version <= '3.11'",  # for typing.override
]
description = "A client to provide LLM responses for FutureHouse applications."
dynamic = ["version"]
license = {file = "LICENSE"}
name = "fhlmi"
readme = "README.md"
requires-python = ">=3.11"

[project.optional-dependencies]
dev = [
    "fhaviary[xml]",
    "fhlmi[image,local,progress,typing,vcr]",
    "google-auth>=2",  # Pin to keep recent
    "google-cloud-storage>=3",  # Pin to keep recent
    "httpx-aiohttp",
    "ipython>=8",  # Pin to keep recent
    "litellm>=1.81.3",  # Lower pin for Vertex AI multimodal embedding text + image fix from https://github.com/BerriAI/litellm/issues/19811
    "mypy>=1.8",  # Pin for mutable-override
    "pre-commit>=3.4",  # Pin to keep recent
    "pylint-pydantic",
    "pytest-asyncio",
    "pytest-recording",
    "pytest-rerunfailures",
    "pytest-subtests",
    "pytest-sugar",
    "pytest-timer[colorama]",
    "pytest-xdist",
    "pytest>=8",  # Pin to keep recent
    "python-dotenv",
    "refurb>=2",  # Pin to keep recent
    "typeguard",
]
image = [
    "pillow>=10.3.0",  # Pin for py.typed
]
local = [
    "numpy",
    "sentence-transformers",
]
progress = ["tqdm"]
typing = ["types-tqdm"]
vcr = [
    "vcrpy>=8",  # Pin for dropping unused cassettes support
]

[project.urls]
issues = "https://github.com/Future-House/ldp/packages/lmi/issues"
repository = "https://github.com/Future-House/ldp/packages/lmi"

[tool.ruff]
extend = "../../pyproject.toml"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools_scm]
root = "../.."
version_file = "src/lmi/version.py"
